<div class="container">
    <h1>Client Overview</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nr.</th>
                <th scope="col">Ragione Sociale</th>
                <th scope="col">P.Iva</th>
                <th scope="col">Tipo</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of clients.content; index as i">
                <td scope="row">{{i + 1}}</td>
                <td scope="row">{{item.ragioneSociale}}</td>
                <td scope="row">{{item.partitaIva}}</td>
                <td scope="row">{{item.tipoCliente}}</td>
                <td scope="row">{{item.email}}</td>
                <td scope="row">{{item.telefono}}</td>
                <td>
                    <button type="button" class="btn btn-info" (click)="viewClient(item)"><i class="bi bi-info-circle"></i>
                    </button>
                    <button type="button" class="btn btn-warning" (click)="editClient(item)"><i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="removeClient(item)"><i class="bi bi-person-x-fill"></i>
                    </button>
                    
                  </td>
            </tr>
        </tbody>
    </table>

</div>