<div class="container d-flex flex-column align-items-center justify-content-center">
    <h1 class="mt-5">Client Overview</h1>
    <table class="table text-center mt-5 table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nr.</th>
                <th scope="col">Client Name</th>
                <th scope="col">Tax No.</th>
                <th scope="col">Type</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of clients.content; index as i">
                <td scope="row">{{i + 1}}</td>
                <td scope="row">{{item.ragioneSociale}}</td>
                <td scope="row">{{item.partitaIva}}</td>
                <td scope="row">{{item.tipoCliente}}</td>
                <td scope="row">{{item.email}}</td>
                <td scope="row">{{item.telefono}}</td>
                <td scope="row"><button type="button" class="btn-sm btn-info" (click)="viewClient(item)"><i
                            class="bi bi-info-circle"></i>
                    </button></td>
                <td scope="row"><button type="button" class="btn-sm btn-warning" (click)="editClient(item)"><i
                            class="bi bi-pencil"></i>
                    </button></td>
                <td scope="row"> <button type="button" class="btn-sm btn-danger" (click)="removeClient(item)"><i
                            class="bi bi-person-x-fill"></i>
                    </button></td>
            </tr>
        </tbody>
    </table>

</div>