<div class="container my-3">
    <h1 class="mt-5 mb-5">New Invoice</h1>
    <form>
        <div>
            <div class="my-3">
                <label>Invoice Date:</label>
                <input type="text" [(ngModel)]="newInvoice.data" class="form-control" name="invoiceDate"
                    placeholder="Invoice Date...">
            </div>
            <div class="my-3">
                <label>Invoice Nr.:</label>
                <input type="text" [(ngModel)]="newInvoice.numero" class="form-control" name="invoiceNr"
                    placeholder="Invoice Nr...">
            </div>
            <div class="my-3">
                <label>Year:</label>
                <input type="text" [(ngModel)]="newInvoice.anno" class="form-control" name="invoiceYear"
                    placeholder="Invoice Year...">
            </div>
            <div class="my-3">
                <label>Amount:</label>
                <input type="text" [(ngModel)]="newInvoice.importo" class="form-control" name="invoiceAmount"
                    placeholder="Invoice Amount...">
            </div>
            <div class="my-3">
                <p>Payment Status:</p>
                <select class="custom-select" [(ngModel)]="newInvoice.stato" name="invoiceState">
                    <option [ngValue]="item" *ngFor="let item of invoiceStatuses.content">{{item.nome}}</option>
                </select>
            </div>
            <p>Select Client Name:</p>
            <select class="custom-select" [(ngModel)]="newInvoice.cliente.id" name="client-id">
                <option [ngValue]="item.id" *ngFor="let item of clientlist.content">{{item.ragioneSociale}}</option>
            </select>
        </div>


        <div class="my-4 text-center">
            <button type="button" class="btn btn-success" (click)="saveInvoice()">Send Invoice</button>
        </div>


    </form>
</div>