<div class="container">
    <h1>Invoices Overview</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nr.</th>
                <th scope="col">Anno</th>
                <th scope="col">Importo</th>
                <th scope="col">Stato (nome)</th>
                <th scope="col">Cliente (ID)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of invoices.content; index as i">
                <td scope="row">{{i + 1}}</td>
                <td scope="row">{{item.anno}}</td>
                <td scope="row">{{item.importo}}</td>
                <td scope="row">{{item.stato.nome}}</td>
                <td scope="row">{{item.cliente.id}}</td>
                <button type="button" class="btn btn-info" (click)="viewInvoice(item)"><i class="bi bi-info-circle"></i>
                </button>
                <button type="button" class="btn btn-warning" (click)="editInvoice(item)"><i class="bi bi-pencil"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="removeInvoice(item)"><i class="bi bi-trash-fill"></i>
                </button>
            </tr>
        </tbody>
    </table>

</div>
